#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  border: 1px solid black;
  
}
.item3 { grid-column-start: 1;
  grid-column-end: 1;
  border: 1px solid black; }
.item2 { grid-column-start: 2;
    grid-column-end: 2;
    border: 1px solid black; }
.item5 { grid-column-start: 1;
  grid-column-end: 3;
  border: 1px solid black;}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}