.logo {
  height: 6em;
}

.Header {
  grid-column-start: 1;
  grid-column-end: 3;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgba(115, 178, 178, 0.748);
  z-index: 2;
  position: relative;
}
