.button {
    border-radius: 15px;
    border:1.5px solid black;
    /* margin-top:40px;
    margin-left: 200px; */
    margin:10px;
    background-color: #25a59f51;
    height:35px;
    width:150px;
    font-weight: 300;
    font-size: medium;
    box-shadow: 7px 7px 20px 0px  rgba(74, 72, 72, 0.1), 40px 40px 10px -40px  rgba(56, 180, 211, 0.8) inset;
    
}
