.footer-div {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  padding-right: 50px;
  position:relative;
  color:#e1d3d3;
  font-size: 18px;
  margin-top: 5%;
  text-decoration-line: underline;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.10);

} 
