.image-div {
  width: 50%;
}
.link-div {
  position: absolute;
  width: 500px;
  height: 100%;
  right: 40px;
  top: 60px;
  margin: auto;
}

.link-div > a {
  margin-left: 400px;
  padding-top: 10px ;
  font-family:monospace;
  text-decoration:none;
  color: rgba(215, 223, 222, 0.677);
  border: 3.5px solid;
  padding: 10px;
  border-radius: 70% ; 
}

