.image-div {
  width: 50%;
}
.link-div {
  position: absolute;
  width: 500px;
  height: 100%;
  right: 40px;
  top: 60px;
  margin: auto;
}

.link-div > a {
  margin-left: 450px;
  padding-top: 15px ;
  margin-bottom: 25px;
  position:inherit;
  font-family:monospace;
  text-decoration:underline;
  border-color: rgba(255, 255, 255, 0.803);
  color: rgba(43, 134, 155, 0.582);
  border: 4px solid;
  padding: 15px;
  border-radius: 70% ; 
  cursor:pointer;

}
/* .link-div > div { */
  /* margin-left: 450px;
  padding-top: 15px ;
  margin-bottom: 25px;
  position:inherit;
  font-family:monospace;
  text-decoration:underline;
  border-color: rgba(255, 255, 255, 0.803);
  color: rgba(43, 134, 155, 0.582);
  border: 4px solid;
  padding: 15px;
  border-radius: 70% ; 
  cursor:pointer;
} */