.image-div {
  width: 50%;
}
.link-div {
  position: absolute;
  width: 500px;
  height: 100%;
  right: 40px;
  top: 60px;
  margin: auto;
}

.link-div > a {
  margin-left: 450px;
  padding-top: 15px ;
  font-family:monospace;
  text-decoration:none;
  color: rgba(43, 134, 155, 0.927);
  border: 3px solid;
  padding: 15px;
  border-radius: 60% ; 
}

