.searchBar {
    border: 2px solid rgb(94, 106, 106);
    border-radius: 30px;
    margin:10px;
    width: 300px;
    background-color: #43cdc6dc;
    align-items:flex-end;
    margin-right: 100px;
    background-color: rgba(148, 228, 228, 0.783);
    box-shadow: 7px 7px 20px 0px  rgba(74, 72, 72, 0.1), 40px 40px 10px -40px  rgba(56, 180, 211, 0.8) inset;

}

.input {
    width: 200px;
    height: 30px;
    margin: 4px;
    border: none;
    font-size: large;
    outline: none;
    background-color: #40b5af00;
    
}