.join-us-box {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 200px;
  padding: 20px;
  width: 200px;
  margin: auto;
  cursor: pointer;
  will-change: filter;
  transition: filter 300ms;
  background-color: rgba(22, 166, 182, 0.322);
  animation: slide-in-left3 1000ms;
  font-weight: 200;
}

@keyframes slide-in-left3 {
  from {
    transform: translateX(-600%);
  }
  to {
    transform: translateX(0%);
  }
}
.boxj:hover {
  border: 3px solid rgb(30, 121, 166);
  transition: box-shadow 300ms ease-in-out;
}

.boxj.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
