.client-box {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 200px;
  padding: 20px;
  width: 200px;
  height: auto;
  margin: 0 auto;
  cursor: pointer;
  will-change: filter;
  transition: filter 300ms;
  background-color: rgb(59 185 187 / 41%);
  animation: slide-in-left1 1000ms;
  font-weight: 200;
}
@keyframes slide-in-left1 {
  from {
    transform: translateX(-400%);
  }
  to {
    transform: translateX(0%);
  }
}
