.messages {
    color: rgba(231, 27, 27, 0.536);;
    font-weight: 500;
    font-size: 15px;
    margin-left: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

.messages:hover {
    color: rgb(231, 27, 27);
    cursor:grab;
    text-decoration: underline;
}