.card {
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2600);
    border-radius: 30px;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(92, 165, 214);

}
h1 {
    text-align: center;
}